 <script type="text/javascript" src="../../jquery.js"></script>
        
<script type="text/javascript" src="../../jquery-1.4.2.min.js">
</script>


<ion-view view-title="Ingreso al sistema" name="login-view">
  <ion-content class="padding" style=" margin-top:50px">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Ingrese el Usuario" id="username" ng-model="data.username">
          </label><br />
          <label class="item item-input">
              <input type="password" placeholder="Ingrese la Contraseña" id="pass" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" onclick="login()">Ingresar</button>
  </ion-content>
</ion-view>